
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";




    .nunito {
      font-family: "Nunito", serif;
      font-optical-sizing: auto;
      /* font-weight: <weight>; */
      font-style: normal;
    }

    body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

/* Dark Mode */
body.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
  
  